<div class="page-width ">

{% comment %} logo  {% endcomment %}

<div>
  {% if section.settings.logo != blank %}
  
    <img class="logo" src="{{ section.settings.logo | image_url: width: 200 }}" alt="Logo" loading="lazy" width="125" height="55">

  {% else %}
  <img class="logo" src="{{ 'logo.svg'| asset_url }}" alt="Logo" loading="lazy" width="125" height="55">

  {% endif %}
</div>
<button class="cta">

   {{ section.settings.button_text}}
  
</button>
</div>



<style>
  
    .page-width{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 24px;
      background-color: var(--color-primary);
    }

    .page-width > button{
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      padding-block: 15px;
      padding-inline: 20px;
      border-radius: 4px;
      transition: all 0.2s ease;
      margin: 0;
      cursor: pointer;

    }

    .page-width > button:hover{
      background-color: rgba(0, 0, 0, 0.878);
      transform: translate(0,-5px);

    }
    .page-width > button:active{
      background-color: black);
      transform: translate(0,0);

    }
  


  @media screen and (max-width:768px){
    .page-width >button{
      font-size: 14px;

      padding-block: 10px;
      padding-inline: 15px;
    }
    .logo{
      width: 83px;
      height: 33px;
    }
  }
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
  "type": "image_picker",
  "id": "logo",
  "label": "Logo Image"
}
,{
  "type": "text",
  "id":"button_text",
  "default":" UNLOCK 20% OFF NOW",
  "label": "Button Text"
}

  ]
}

{% endschema %}
