<div class="header-banner" style="background:{{section.settings.background_color}} ">
<p>
    {{section.settings.banner_text}}
</p>
</div>



<style>
    .header-banner{
        padding-block: 10px;
       
    }
    .header-banner > p{
        color: {{section.settings.text_color}};
        text-align:center;
        margin:0;
        font-size:18px;
        font-weight:bold
    }
</style>


{% schema  %}

{
    "name": "Header Banner",
    "settings": [
        {  "type":"text",
    "id":"banner_text",
    "label": "Banner Text",
    "default":"20% Off Your First Purchase"

},{
    "type": "color",
    "id": "background_color",
    "label": "Background Color",
    "default":"#FDB912"
},
{
    "type": "color",
    "id": "text_color",
    "label": "Text Color",
    "default":"#1F1F21"
}
    ]
}

  {% endschema %}